$color_letra_principal : rgb(216, 204, 204);
$color_fondo_formulario :  aliceblue;
$color_fondo_footer :  rgb(31, 90, 70);
$color_fondo_botones : rgba(129, 84, 26, 0.918);
$color_sombra_texto : black;
$color_fondo_producto:  rgba(35, 90, 72, 0.425);